In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("transfusion_10%.csv")

In [3]:
df

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2.0,50.0,NaN,98.0,1.0
1,0.0,13.0,3250.0,28.0,1.0
2,1.0,16.0,4000.0,NaN,1.0
3,2.0,20.0,5000.0,45.0,1.0
4,1.0,24.0,6000.0,77.0,0.0
...,...,...,...,...,...
743,23.0,2.0,500.0,NaN,0.0
744,NaN,2.0,NaN,52.0,0.0
745,NaN,NaN,NaN,62.0,0.0
746,39.0,1.0,250.0,NaN,0.0
747,72.0,NaN,250.0,72.0,0.0

In [4]:
df.dtypes

Recency (months)                              float64
Frequency (times)                             float64
Monetary (c.c. blood)                         float64
Time (months)                                 float64
whether he/she donated blood in March 2007    float64
dtype: object

In [5]:
df.isnull().sum()

Recency (months)                              107
Frequency (times)                              78
Monetary (c.c. blood)                          94
Time (months)                                  95
whether he/she donated blood in March 2007      0
dtype: int64

In [6]:
df.isnull().sum().sum()

374

In [7]:
null_counts = df.isnull().sum()
null_percentages = 100 * null_counts / len(df)
null_percentages

Recency (months)                              14.304813
Frequency (times)                             10.427807
Monetary (c.c. blood)                         12.566845
Time (months)                                 12.700535
whether he/she donated blood in March 2007     0.000000
dtype: float64

In [8]:
null_counts = df.isnull().sum().sum()
total = df.size
null_percentages = 100 * null_counts / total
print("total nilai :",total)
print("nilai hilang :",null_counts)
print("persentase hilang :",null_percentages)

total nilai : 3740
nilai hilang : 374
persentase hilang : 10.0

In [9]:
df2 = df.dropna()

In [10]:
df2

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
1,0.0,13.0,3250.0,28.0,1.0
3,2.0,20.0,5000.0,45.0,1.0
4,1.0,24.0,6000.0,77.0,0.0
5,4.0,4.0,1000.0,4.0,0.0
7,1.0,12.0,3000.0,35.0,0.0
...,...,...,...,...,...
734,23.0,1.0,250.0,23.0,0.0
736,23.0,1.0,250.0,23.0,0.0
739,23.0,4.0,1000.0,52.0,0.0
740,23.0,1.0,250.0,23.0,0.0
742,16.0,3.0,750.0,86.0,0.0

In [11]:
df2.describe()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
count,441.000000,441.000000,441.000000,441.000000,441.000000
mean,9.199546,5.678005,1419.501134,35.210884,0.219955
std,7.742216,5.984882,1496.220458,25.131807,0.414686
min,0.000000,1.000000,250.000000,2.000000,0.000000
25%,3.000000,2.000000,500.000000,16.000000,0.000000
50%,7.000000,4.000000,1000.000000,28.000000,0.000000
75%,14.000000,7.000000,1750.000000,52.000000,0.000000
max,74.000000,46.000000,11500.000000,98.000000,1.000000

In [12]:
# Menghitung jumlah data pada setiap kelas
class_counts = df["whether he/she donated blood in March 2007"].value_counts()

# Menampilkan keseimbangan data
print(class_counts)

0.0    570
1.0    178
Name: whether he/she donated blood in March 2007, dtype: int64

# Klasifikasi

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

In [14]:
x = df2.iloc[:, :-1].values
y = df2.iloc[:, -1].values

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=1)

In [23]:
classifier = GaussianNB(var_smoothing=0.0001)
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
print(cm)
print(accuracy)

[[84  0]
 [23  4]]
0.7927927927927928