In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("audit_10%.csv")

In [3]:
df

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,3.89,4.18,0.6,2.508,2.50,NaN,0.500,6.68,NaN,0.2,...,0.4,NaN,0.2,0.0,2.4,8.574,0.4,0.5,1.7148,1.0
1,3.89,0.00,NaN,0.000,4.83,NaN,0.966,4.83,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,2.554,0.4,0.5,0.5108,0.0
2,3.89,0.51,0.2,0.102,0.23,0.2,0.046,0.74,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.548,0.4,0.5,0.3096,0.0
3,3.89,0.00,0.2,0.000,10.80,0.6,6.480,10.80,6.0,0.6,...,0.4,0.0,0.2,0.0,4.4,17.530,0.4,0.5,3.5060,1.0
4,3.89,0.00,0.2,0.000,0.08,0.2,0.016,0.08,5.0,0.2,...,0.4,0.0,NaN,0.0,NaN,1.416,NaN,NaN,0.2832,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771,NaN,NaN,0.2,NaN,0.40,0.2,0.080,0.89,5.0,0.2,...,0.4,0.0,0.2,NaN,2.0,1.578,0.4,0.5,0.3156,0.0
772,55.57,0.47,0.2,0.094,0.37,NaN,0.074,NaN,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.568,0.4,0.5,NaN,0.0
773,55.57,0.24,0.2,NaN,NaN,0.2,0.008,0.28,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.456,0.4,0.5,0.2912,0.0
774,55.57,0.20,NaN,0.040,0.00,0.2,0.000,0.20,5.0,NaN,...,0.4,NaN,0.2,0.0,2.0,NaN,0.4,0.5,0.2880,0.0
775,55.57,0.00,0.2,0.000,0.00,0.2,0.000,0.00,5.0,NaN,...,0.4,0.0,0.2,0.0,2.0,1.464,0.4,0.5,0.2928,0.0

In [4]:
df.dtypes

Sector_score      float64
PARA_A            float64
Score_A           float64
Risk_A            float64
PARA_B            float64
Score_B           float64
Risk_B            float64
TOTAL             float64
numbers           float64
Score_B.1         float64
Risk_C            float64
Money_Value       float64
Score_MV          float64
Risk_D            float64
District_Loss     float64
PROB              float64
RiSk_E            float64
History           float64
Prob              float64
Risk_F            float64
Score             float64
Inherent_Risk     float64
CONTROL_RISK      float64
Detection_Risk    float64
Audit_Risk        float64
Risk              float64
dtype: object

In [5]:
df.isnull().sum()

Sector_score      74
PARA_A            62
Score_A           76
Risk_A            87
PARA_B            77
Score_B           83
Risk_B            93
TOTAL             94
numbers           88
Score_B.1         94
Risk_C            91
Money_Value       71
Score_MV          84
Risk_D            71
District_Loss     80
PROB              63
RiSk_E            93
History           73
Prob              89
Risk_F            80
Score             75
Inherent_Risk     71
CONTROL_RISK      92
Detection_Risk    75
Audit_Risk        81
Risk               0
dtype: int64

In [6]:
null_counts = df.isnull().sum()
null_percentages = 100 * null_counts / len(df)
null_percentages

Sector_score       9.536082
PARA_A             7.989691
Score_A            9.793814
Risk_A            11.211340
PARA_B             9.922680
Score_B           10.695876
Risk_B            11.984536
TOTAL             12.113402
numbers           11.340206
Score_B.1         12.113402
Risk_C            11.726804
Money_Value        9.149485
Score_MV          10.824742
Risk_D             9.149485
District_Loss     10.309278
PROB               8.118557
RiSk_E            11.984536
History            9.407216
Prob              11.469072
Risk_F            10.309278
Score              9.664948
Inherent_Risk      9.149485
CONTROL_RISK      11.855670
Detection_Risk     9.664948
Audit_Risk        10.438144
Risk               0.000000
dtype: float64

In [7]:
null_counts = df.isnull().sum().sum()
total = df.size
null_percentages = 100 * null_counts / total
print("total nilai :",total)
print("nilai hilang :",null_counts)
print("persentase hilang :",null_percentages)

total nilai : 20176
nilai hilang : 2017
persentase hilang : 9.997026169706581

# Imputasi Mean

In [8]:
df2 = df.fillna(df.mean())

In [9]:
df2

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,3.890000,4.180000,0.600000,2.508000,2.500000,0.313997,0.500,6.680000,5.066134,0.20000,...,0.4,0.106686,0.200000,0.000000,2.400000,8.574000,0.400000,0.5,1.714800,1.0
1,3.890000,0.000000,0.351714,0.000000,4.830000,0.313997,0.966,4.830000,5.000000,0.20000,...,0.4,0.000000,0.200000,0.000000,2.000000,2.554000,0.400000,0.5,0.510800,0.0
2,3.890000,0.510000,0.200000,0.102000,0.230000,0.200000,0.046,0.740000,5.000000,0.20000,...,0.4,0.000000,0.200000,0.000000,2.000000,1.548000,0.400000,0.5,0.309600,0.0
3,3.890000,0.000000,0.200000,0.000000,10.800000,0.600000,6.480,10.800000,6.000000,0.60000,...,0.4,0.000000,0.200000,0.000000,4.400000,17.530000,0.400000,0.5,3.506000,1.0
4,3.890000,0.000000,0.200000,0.000000,0.080000,0.200000,0.016,0.080000,5.000000,0.20000,...,0.4,0.000000,0.217176,0.000000,2.713552,1.416000,0.567251,0.5,0.283200,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771,20.670826,2.472564,0.200000,1.419634,0.400000,0.200000,0.080,0.890000,5.000000,0.20000,...,0.4,0.000000,0.200000,0.050575,2.000000,1.578000,0.400000,0.5,0.315600,0.0
772,55.570000,0.470000,0.200000,0.094000,0.370000,0.313997,0.074,12.920367,5.000000,0.20000,...,0.4,0.000000,0.200000,0.000000,2.000000,1.568000,0.400000,0.5,6.683441,0.0
773,55.570000,0.240000,0.200000,1.419634,9.463733,0.200000,0.008,0.280000,5.000000,0.20000,...,0.4,0.000000,0.200000,0.000000,2.000000,1.456000,0.400000,0.5,0.291200,0.0
774,55.570000,0.200000,0.351714,0.040000,0.000000,0.200000,0.000,0.200000,5.000000,0.22346,...,0.4,0.106686,0.200000,0.000000,2.000000,15.308954,0.400000,0.5,0.288000,0.0
775,55.570000,0.000000,0.200000,0.000000,0.000000,0.200000,0.000,0.000000,5.000000,0.22346,...,0.4,0.000000,0.200000,0.000000,2.000000,1.464000,0.400000,0.5,0.292800,0.0

In [10]:
df2.describe()

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
count,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,...,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.0,776.000000,776.000000
mean,20.670826,2.472564,0.351714,1.419634,9.463733,0.313997,6.741414,12.920367,5.066134,0.223460,...,0.517716,0.106686,0.217176,0.050575,2.713552,15.308954,0.567251,0.5,6.683441,0.393041
std,23.317954,5.602391,0.165736,3.401664,21.407289,0.161262,29.910365,50.385682,0.249492,0.076239,...,0.269517,0.521782,0.064231,0.286604,0.821015,37.586211,0.414303,0.0,36.954805,0.488741
min,1.850000,0.000000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.400000,0.400000,0.5,0.280000,0.000000
25%,2.370000,0.270000,0.200000,0.062000,0.000000,0.200000,0.000000,0.680000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.616500,0.400000,0.5,0.327300,0.000000
50%,3.890000,1.070000,0.351714,0.454000,0.630000,0.200000,0.134000,1.740000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.400000,2.477000,0.400000,0.5,0.811600,0.000000
75%,55.570000,2.472564,0.600000,1.419634,9.463733,0.400000,6.741414,12.920367,5.000000,0.200000,...,0.517716,0.000000,0.200000,0.000000,3.200000,15.308954,0.567251,0.5,6.683441,1.000000
max,59.850000,85.000000,0.600000,51.000000,144.390000,0.600000,758.778000,1268.910000,9.000000,0.600000,...,2.400000,9.000000,0.600000,5.400000,5.200000,583.688000,5.800000,0.5,961.514400,1.000000

# Klasifikasi

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [12]:
x = df2.iloc[:, :-1].values
y = df2.iloc[:, -1].values

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=7)

In [26]:
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [27]:
classifier = GaussianNB()
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
print(cm)
print(accuracy)

[[127   0]
 [ 11  56]]
0.9432989690721649

In [28]:
classifier = MLPClassifier(hidden_layer_sizes=3, learning_rate_init=0.1, max_iter=100)
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
print(cm)
print(accuracy)

[[123   4]
 [  4  63]]
0.9587628865979382

C:\Users\User\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.
  warnings.warn(