In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
from scipy.spatial.distance import euclidean

In [2]:
df = pd.read_csv("transfusion_5%.csv")

In [3]:
df

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2.0,50.0,12500.0,98.0,1.0
1,NaN,13.0,3250.0,NaN,1.0
2,1.0,16.0,4000.0,35.0,1.0
3,2.0,NaN,5000.0,45.0,1.0
4,1.0,24.0,6000.0,77.0,0.0
...,...,...,...,...,...
743,NaN,2.0,500.0,38.0,0.0
744,21.0,2.0,500.0,52.0,0.0
745,23.0,NaN,750.0,62.0,0.0
746,39.0,1.0,250.0,39.0,0.0
747,72.0,1.0,250.0,72.0,0.0

In [4]:
df.dtypes

Recency (months)                              float64
Frequency (times)                             float64
Monetary (c.c. blood)                         float64
Time (months)                                 float64
whether he/she donated blood in March 2007    float64
dtype: object

In [5]:
df.isnull().sum()

Recency (months)                              46
Frequency (times)                             46
Monetary (c.c. blood)                         55
Time (months)                                 40
whether he/she donated blood in March 2007     0
dtype: int64

In [6]:
df.isnull().sum().sum()

187

In [7]:
null_counts = df.isnull().sum()
null_percentages = 100 * null_counts / len(df)
null_percentages

Recency (months)                              6.149733
Frequency (times)                             6.149733
Monetary (c.c. blood)                         7.352941
Time (months)                                 5.347594
whether he/she donated blood in March 2007    0.000000
dtype: float64

In [8]:
null_counts = df.isnull().sum().sum()
total = df.size
null_percentages = 100 * null_counts / total
print("total nilai :",total)
print("nilai hilang :",null_counts)
print("persentase :",null_percentages)

total nilai : 3740
nilai hilang : 187
persentase : 5.0

In [9]:
def jarak(df2,col):
    euc_dist[col] = []
    euc_dist_append =euc_dist[col].append
    for row in range(df2.shape[0]):
        current = df2.index[df2.iloc[:,col] == 0].tolist()
        current = current[0]
        a = df2.iloc[current,col+1:].tolist()
        b = df2.iloc[current,:col].tolist()
        x1 = b+a
        if(row is not current):
            a=df2.iloc[row,col+1:].tolist()
            b=df2.iloc[row,:col].tolist()
            x2=b+a
        else:
            continue
        dist = euclidean(x1,x2)
        euc_dist_append([dist,df2.iloc[row,col]])
#         print(" x1 = ",x1,"\n x2 = ",x2,"\n distance = ",euc_dist[col])

    lst = list(euc_dist[col])
    lst.sort()
    euc_dist[col] = lst
#     print(euc_dist[col])

In [10]:
from collections import Counter

def hitung(val, k, temp=None, i=0, counter=0):
    counts = Counter(val)
    total_count = len(counts)
#     print("jumlah val:", total_count)
    if counter >= int((k/2)+1) and total_count <= 2 :
        print("median : ",int((k/2)+1))
        return temp
    elif i is not k:
        if temp is None:
            temp = val[i]
        elif temp != val[i]:
            temp = val[i]
            counter = 0
        # print(f"temp = {temp} , counter = {counter} , i = {i} , k = {k} , median = {int((k/2)+1)}, val[i] = {val[i]}")
        return hitung(val,k,temp,i+1,counter+1)
    else:
        return None    

def Final(df,col,k):
    terdekat = []
    mean = 0
    minimum = None
    maximum = None
    fuzzy_val = []
    euc_val = []
    terdekat_append = terdekat.append
    fuzzy_append = fuzzy_val.append
    
    for val in range(k):
        terdekat_append(euc_dist[col][val])
    
    for x,y in terdekat:
        if (minimum is None or maximum is None):
            minimum = y
            maximum = y
        elif(y<minimum):
            minimum = y
        elif(y>maximum):
            maximum = y
        mean += y
        euc_val.append(y)
    mean /= len(terdekat)
    euc_val.sort()
    print(euc_val)
    
    fuzzy = hitung(euc_val,5)
    print("min : ",minimum)
    print("max : ",maximum)
    print("mean : ",mean)
    for x,y in terdekat:
        if fuzzy is None:
            fuzzy_append((y,fuzzy_triangular(y,minimum,mean,maximum)))
        else:
            fuzzy_val.append((y,fuzzy))
        
    print("fuzzy : ",fuzzy_val)
    print("fuzzy : ",fuzzy)
    
    pembilang = 0
    penyebut = 0 
    
    for nilai,bobot in fuzzy_val:
        pembilang += nilai*bobot
        penyebut += bobot
            
    print("pembilang : ", pembilang)
    print("penyebut : ",penyebut)
    
    if fuzzy is not None:
        tertimbang = fuzzy
    else:
        tertimbang = pembilang / penyebut
    
    print("rata-rata tertimbang : ",tertimbang)
    index = dummy.index[dummy.iloc[:,col] == 0].tolist()
    index = index[0]
    
    if tertimbang == 0:
        tertimbang = dummy.iloc[index-1, col]
        
    dummy.iloc[index,col] = tertimbang
    print(" ")

In [11]:
def fuzzy_triangular(val, minimum, mean, maximum):
   if val <= minimum or val >= maximum: 
        return 0.0
   elif minimum < val <= mean:
        return float((val - minimum)/(mean - minimum)) 
   elif mean < val < maximum:
        return float((maximum - val)/(maximum - mean))

In [12]:
data = df.iloc[:, :-1]
df2 = df.copy()
dummy = df2.fillna(0)
dummy

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2.0,50.0,12500.0,98.0,1.0
1,0.0,13.0,3250.0,0.0,1.0
2,1.0,16.0,4000.0,35.0,1.0
3,2.0,0.0,5000.0,45.0,1.0
4,1.0,24.0,6000.0,77.0,0.0
...,...,...,...,...,...
743,0.0,2.0,500.0,38.0,0.0
744,21.0,2.0,500.0,52.0,0.0
745,23.0,0.0,750.0,62.0,0.0
746,39.0,1.0,250.0,39.0,0.0
747,72.0,1.0,250.0,72.0,0.0

In [13]:
euc_dist = {}

In [ ]:
for i in range(df2.shape[1]):
    print("Kolom :",i+1)
    current = dummy.index[dummy.iloc[:,i] == 0].tolist()
    for x in current:
        jarak(dummy,i)
        Final(dummy,i,5)
dummy

Kolom : 1
[1.0, 2.0, 2.0, 4.0, 12.0]
min :  1.0
max :  12.0
mean :  4.2
fuzzy :  [(12.0, 0.0), (2.0, 0.3125), (4.0, 0.9375), (1.0, 0.0), (2.0, 0.3125)]
fuzzy :  None
pembilang :  5.0
penyebut :  1.5625
rata-rata tertimbang :  3.2

[2.0, 2.0, 2.0, 2.0, 4.0]
median :  3
min :  2.0
max :  4.0
mean :  2.4
fuzzy :  [(2.0, 2.0), (2.0, 2.0), (2.0, 2.0), (2.0, 2.0), (4.0, 2.0)]
fuzzy :  2.0
pembilang :  24.0
penyebut :  10.0
rata-rata tertimbang :  2.0

[2.0, 7.0, 8.0, 12.0, 23.0]
min :  2.0
max :  23.0
mean :  10.4
fuzzy :  [(23.0, 0.0), (2.0, 0.0), (8.0, 0.7142857142857143), (12.0, 0.873015873015873), (7.0, 0.5952380952380952)]
fuzzy :  None
pembilang :  20.357142857142858
penyebut :  2.182539682539683
rata-rata tertimbang :  9.327272727272726

[2.0, 2.0, 4.0, 4.0, 4.0]
median :  3
min :  2.0
max :  4.0
mean :  3.2
fuzzy :  [(4.0, 4.0), (2.0, 4.0), (2.0, 4.0), (4.0, 4.0), (4.0, 4.0)]
fuzzy :  4.0
pembilang :  64.0
penyebut :  20.0
rata-rata tertimbang :  4.0

[0.0, 1.0, 2.0, 4.0, 4.0]
min :  0.0
max :  4.0
mean :  2.2
fuzzy :  [(1.0, 0.45454545454545453), (2.0, 0.9090909090909091), (0.0, 0.0), (4.0, 0.0), (4.0, 0.0)]
fuzzy :  None
pembilang :  2.2727272727272725
penyebut :  1.3636363636363635
rata-rata tertimbang :  1.6666666666666665

[2.0, 4.0, 14.0, 14.0, 23.0]
min :  2.0
max :  23.0
mean :  11.4
fuzzy :  [(2.0, 0.0), (14.0, 0.7758620689655172), (4.0, 0.2127659574468085), (14.0, 0.7758620689655172), (23.0, 0.0)]
fuzzy :  None
pembilang :  22.57520176082172
penyebut :  1.7644900953778428
rata-rata tertimbang :  12.794178794178798

[0.0, 4.0, 4.0, 4.0, 11.0]
min :  0.0
max :  11.0
mean :  4.6
fuzzy :  [(4.0, 0.8695652173913044), (4.0, 0.8695652173913044), (11.0, 0.0), (0.0, 0.0), (4.0, 0.8695652173913044)]
fuzzy :  None
pembilang :  10.434782608695652
penyebut :  2.608695652173913
rata-rata tertimbang :  4.0

[0.0, 4.0, 9.0, 11.0, 11.0]
min :  0.0
max :  11.0
mean :  7.0
fuzzy :  [(9.0, 0.5), (11.0, 0.0), (4.0, 0.5714285714285714), (11.0, 0.0), (0.0, 0.0)]
fuzzy :  None
pembilang :  6.785714285714286
penyebut :  1.0714285714285714
rata-rata tertimbang :  6.333333333333333

[2.0, 2.0, 2.0, 2.0, 4.0]
median :  3
min :  2.0
max :  4.0
mean :  2.4
fuzzy :  [(2.0, 2.0), (2.0, 2.0), (4.0, 2.0), (2.0, 2.0), (2.0, 2.0)]
fuzzy :  2.0
pembilang :  24.0
penyebut :  10.0
rata-rata tertimbang :  2.0

[2.0, 2.0, 2.0, 2.0, 4.0]
median :  3
min :  2.0
max :  4.0
mean :  2.4
fuzzy :  [(2.0, 2.0), (2.0, 2.0), (2.0, 2.0), (2.0, 2.0), (4.0, 2.0)]
fuzzy :  2.0
pembilang :  24.0
penyebut :  10.0
rata-rata tertimbang :  2.0

[2.0, 2.0, 2.0, 2.0, 10.0]
median :  3
min :  2.0
max :  10.0
mean :  3.6
fuzzy :  [(2.0, 2.0), (2.0, 2.0), (2.0, 2.0), (2.0, 2.0), (10.0, 2.0)]
fuzzy :  2.0
pembilang :  36.0
penyebut :  10.0
rata-rata tertimbang :  2.0

[2.0, 2.0, 4.0, 4.0, 10.0]
min :  2.0
max :  10.0
mean :  4.4
fuzzy :  [(2.0, 0.0), (2.0, 0.0), (10.0, 0.0), (4.0, 0.8333333333333333), (4.0, 0.8333333333333333)]
fuzzy :  None
pembilang :  6.666666666666666
penyebut :  1.6666666666666665
rata-rata tertimbang :  4.0

[4.0, 6.333333333333333, 9.0, 9.0, 11.0]
min :  4.0
max :  11.0
mean :  7.866666666666665
fuzzy :  [(9.0, 0.6382978723404252), (11.0, 0.0), (4.0, 0.0), (6.333333333333333, 0.6034482758620691), (9.0, 0.6382978723404252)]
fuzzy :  None
pembilang :  15.311200782587424
penyebut :  1.8800440205429196
rata-rata tertimbang :  8.144065040650405

[3.0, 4.0, 4.0, 14.0, 16.0]
min :  3.0
max :  16.0
mean :  8.2
fuzzy :  [(3.0, 0.0), (14.0, 0.2564102564102564), (4.0, 0.19230769230769235), (16.0, 0.0), (4.0, 0.19230769230769235)]
fuzzy :  None
pembilang :  5.128205128205128
penyebut :  0.6410256410256411
rata-rata tertimbang :  7.999999999999998

[4.0, 8.0, 11.0, 14.0, 23.0]
min :  4.0
max :  23.0
mean :  12.0
fuzzy :  [(23.0, 0.0), (8.0, 0.5), (11.0, 0.875), (14.0, 0.8181818181818182), (4.0, 0.0)]
fuzzy :  None
pembilang :  25.079545454545453
penyebut :  2.1931818181818183
rata-rata tertimbang :  11.43523316062176

[2.0, 14.0, 14.0, 16.0, 16.0]
min :  2.0
max :  16.0
mean :  12.4
fuzzy :  [(16.0, 0.0), (14.0, 0.5555555555555556), (2.0, 0.0), (14.0, 0.5555555555555556), (16.0, 0.0)]
fuzzy :  None
pembilang :  15.555555555555557
penyebut :  1.1111111111111112
rata-rata tertimbang :  14.0

[2.0, 2.0, 9.0, 11.0, 11.0]
min :  2.0
max :  11.0
mean :  7.0
fuzzy :  [(2.0, 0.0), (2.0, 0.0), (9.0, 0.5), (11.0, 0.0), (11.0, 0.0)]
fuzzy :  None
pembilang :  4.5
penyebut :  0.5
rata-rata tertimbang :  9.0

[2.0, 2.0, 4.0, 5.0, 7.0]
min :  2.0
max :  7.0
mean :  4.0
fuzzy :  [(2.0, 0.0), (5.0, 0.6666666666666666), (2.0, 0.0), (7.0, 0.0), (4.0, 1.0)]
fuzzy :  None
pembilang :  7.333333333333333
penyebut :  1.6666666666666665
rata-rata tertimbang :  4.4

[2.0, 2.0, 2.0, 4.0, 4.0]
median :  3
min :  2.0
max :  4.0
mean :  2.8
fuzzy :  [(2.0, 2.0), (2.0, 2.0), (2.0, 2.0), (4.0, 2.0), (4.0, 2.0)]
fuzzy :  2.0
pembilang :  28.0
penyebut :  10.0
rata-rata tertimbang :  2.0

[0.0, 4.0, 4.0, 4.0, 4.0]
median :  3
min :  0.0
max :  4.0
mean :  3.2
fuzzy :  [(0.0, 4.0), (4.0, 4.0), (4.0, 4.0), (4.0, 4.0), (4.0, 4.0)]
fuzzy :  4.0
pembilang :  64.0
penyebut :  20.0
rata-rata tertimbang :  4.0

[4.0, 4.0, 4.0, 4.0, 4.0]
median :  3
min :  4.0
max :  4.0
mean :  4.0
fuzzy :  [(4.0, 4.0), (4.0, 4.0), (4.0, 4.0), (4.0, 4.0), (4.0, 4.0)]
fuzzy :  4.0
pembilang :  80.0
penyebut :  20.0
rata-rata tertimbang :  4.0

[0.0, 4.0, 11.0, 14.0, 21.0]
min :  0.0
max :  21.0
mean :  10.0
fuzzy :  [(0.0, 0.0), (4.0, 0.4), (11.0, 0.9090909090909091), (14.0, 0.6363636363636364), (21.0, 0.0)]
fuzzy :  None
pembilang :  20.509090909090908
penyebut :  1.9454545454545453
rata-rata tertimbang :  10.542056074766355

[0.0, 11.0, 21.0, 21.0, 23.0]
min :  0.0
max :  23.0
mean :  15.2
fuzzy :  [(0.0, 0.0), (21.0, 0.2564102564102564), (21.0, 0.2564102564102564), (11.0, 0.7236842105263158), (23.0, 0.0)]
fuzzy :  None
pembilang :  18.729757085020243
penyebut :  1.2365047233468287
rata-rata tertimbang :  15.147339699863572

[0.0, 4.0, 4.0, 14.0, 23.0]
min :  0.0
max :  23.0
mean :  9.0
fuzzy :  [(0.0, 0.0), (14.0, 0.6428571428571429), (23.0, 0.0), (4.0, 0.4444444444444444), (4.0, 0.4444444444444444)]
fuzzy :  None
pembilang :  12.555555555555557
penyebut :  1.5317460317460319
rata-rata tertimbang :  8.196891191709845

[0.0, 2.0, 2.0, 2.0, 14.0]
min :  0.0
max :  14.0
mean :  4.0
fuzzy :  [(0.0, 0.0), (2.0, 0.5), (14.0, 0.0), (2.0, 0.5), (2.0, 0.5)]
fuzzy :  None
pembilang :  3.0
penyebut :  1.5
rata-rata tertimbang :  2.0

[0.0, 2.0, 14.0, 14.0, 16.0]
min :  0.0
max :  16.0
mean :  9.2
fuzzy :  [(0.0, 0.0), (14.0, 0.2941176470588235), (16.0, 0.0), (14.0, 0.2941176470588235), (2.0, 0.2173913043478261)]
fuzzy :  None
pembilang :  8.67007672634271
penyebut :  0.8056265984654731
rata-rata tertimbang :  10.761904761904761

[0.0, 2.0, 11.0, 14.0, 16.0]
min :  0.0
max :  16.0
mean :  8.6
fuzzy :  [(0.0, 0.0), (2.0, 0.23255813953488372), (16.0, 0.0), (11.0, 0.6756756756756757), (14.0, 0.27027027027027023)]
fuzzy :  None
pembilang :  11.681332495285982
penyebut :  1.1785040854808295
rata-rata tertimbang :  9.912

[0.0, 2.0, 11.0, 21.0, 21.0]
min :  0.0
max :  21.0
mean :  11.0
fuzzy :  [(0.0, 0.0), (11.0, 1.0), (21.0, 0.0), (2.0, 0.18181818181818182), (21.0, 0.0)]
fuzzy :  None
pembilang :  11.363636363636363
penyebut :  1.1818181818181819
rata-rata tertimbang :  9.615384615384615

In [ ]:
dummy.describe()

# Klasifikasi

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [ ]:
x = dummy.values
y = df.iloc[:, -1].values

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=72)

In [ ]:
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
print(cm)
print(accuracy)