In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
from scipy.spatial.distance import euclidean

In [2]:
df = pd.read_csv("transfusion_5%.csv")

In [3]:
df

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2.0,50.0,12500.0,98.0,1.0
1,NaN,13.0,3250.0,NaN,1.0
2,1.0,16.0,4000.0,35.0,1.0
3,2.0,NaN,5000.0,45.0,1.0
4,1.0,24.0,6000.0,77.0,0.0
...,...,...,...,...,...
743,NaN,2.0,500.0,38.0,0.0
744,21.0,2.0,500.0,52.0,0.0
745,23.0,NaN,750.0,62.0,0.0
746,39.0,1.0,250.0,39.0,0.0
747,72.0,1.0,250.0,72.0,0.0

In [4]:
df.dtypes

Recency (months)                              float64
Frequency (times)                             float64
Monetary (c.c. blood)                         float64
Time (months)                                 float64
whether he/she donated blood in March 2007    float64
dtype: object

In [5]:
df.isnull().sum()

Recency (months)                              46
Frequency (times)                             46
Monetary (c.c. blood)                         55
Time (months)                                 40
whether he/she donated blood in March 2007     0
dtype: int64

In [6]:
df.isnull().sum().sum()

187

In [7]:
null_counts = df.isnull().sum()
null_percentages = 100 * null_counts / len(df)
null_percentages

Recency (months)                              6.149733
Frequency (times)                             6.149733
Monetary (c.c. blood)                         7.352941
Time (months)                                 5.347594
whether he/she donated blood in March 2007    0.000000
dtype: float64

In [8]:
null_counts = df.isnull().sum().sum()
total = df.size
null_percentages = 100 * null_counts / total
print("total nilai :",total)
print("nilai hilang :",null_counts)
print("persentase :",null_percentages)

total nilai : 3740
nilai hilang : 187
persentase : 5.0

In [9]:
def jarak(df2,col):
    euc_dist[col] = []
    euc_dist_append =euc_dist[col].append
    for row in range(df2.shape[0]):
        current = df2.index[df2.iloc[:,col] == 0].tolist()
        current = current[0]
        a = df2.iloc[current,col+1:].tolist()
        b = df2.iloc[current,:col].tolist()
        x1 = b+a
        if(row is not current):
            a=df2.iloc[row,col+1:].tolist()
            b=df2.iloc[row,:col].tolist()
            x2=b+a
        else:
            continue
        dist = euclidean(x1,x2)
        euc_dist_append([dist,df2.iloc[row,col]])
#         print(" x1 = ",x1,"\n x2 = ",x2,"\n distance = ",euc_dist[col])

    lst = list(euc_dist[col])
    lst.sort()
    euc_dist[col] = lst
#     print(euc_dist[col])

In [10]:
from collections import Counter

def hitung(val, k, temp=None, i=0, counter=0):
    counts = Counter(val)
    total_count = len(counts)
    max_count = max(counts.values())
    max_vals = [num for num, count in counts.items() if count == max_count]
#     print("max_count:",max_count)
#     print("max_vals:",max_vals)
#     print("jumlah val:", total_count)
    if counter >= int((k/2)+1) and total_count <= 2 :
        print("median : ",int((k/2)+1))
        return temp
    elif i is not k:
        if temp is None:
            temp = val[i]
        elif temp != val[i]:
            temp = val[i]
            counter = 0
        # print(f"temp = {temp} , counter = {counter} , i = {i} , k = {k} , median = {int((k/2)+1)}, val[i] = {val[i]}")
        return hitung(val,k,temp,i+1,counter+1)
    else:
        return None    

def Final(df,col,k):
    terdekat = []
    mean = 0
    minimum = None
    maximum = None
    fuzzy_val = []
    euc_val = []
    
    for val in range(k):
        terdekat.append(euc_dist[col][val])
    
    for x,y in terdekat:
        if (minimum is None or maximum is None):
            minimum = y
            maximum = y
        elif(y<minimum):
            minimum = y
        elif(y>maximum):
            maximum = y
        mean += y
        euc_val.append(y)
    mean /= len(terdekat)
    euc_val.sort()
    print(euc_val)
    
    fuzzy = hitung(euc_val,3)
    print("min : ",minimum)
    print("max : ",maximum)
    print("mean : ",mean)
    for x,y in terdekat:
        if fuzzy is None:
            fuzzy_val.append((y,fuzzy_triangular(y,minimum,mean,maximum)))
        else:
            fuzzy_val.append((y,fuzzy))
        
    print("fuzzy : ",fuzzy_val)
    print("fuzzy : ",fuzzy)
    
    pembilang = 0
    penyebut = 0 
    
    for nilai,bobot in fuzzy_val:
        pembilang += nilai*bobot
        penyebut += bobot
            
    print("pembilang : ", pembilang)
    print("penyebut : ",penyebut)
    
    if fuzzy is not None:
        tertimbang = fuzzy
    else:
        tertimbang = pembilang / penyebut
    
    print("rata-rata tertimbang : ",tertimbang)

    index = dummy.index[dummy.iloc[:,col] == 0].tolist()
    index = index[0]
    
    if tertimbang == 0:
        tertimbang = dummy.iloc[index-1, col]
    
    dummy.iloc[index,col] = tertimbang
    print("row, col :", index,col)
    print(" ")

In [11]:
def fuzzy_triangular(val, minimum, mean, maximum):
   if val <= minimum or val >= maximum: 
        return 0.0
   elif minimum < val <= mean:
        return float((val - minimum)/(mean - minimum)) 
   elif mean < val < maximum:
        return float((maximum - val)/(maximum - mean))

In [12]:
data = df.iloc[:, :-1]
df2 = df.copy()
dummy = df2.fillna(0)
dummy

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2.0,50.0,12500.0,98.0,1.0
1,0.0,13.0,3250.0,0.0,1.0
2,1.0,16.0,4000.0,35.0,1.0
3,2.0,0.0,5000.0,45.0,1.0
4,1.0,24.0,6000.0,77.0,0.0
...,...,...,...,...,...
743,0.0,2.0,500.0,38.0,0.0
744,21.0,2.0,500.0,52.0,0.0
745,23.0,0.0,750.0,62.0,0.0
746,39.0,1.0,250.0,39.0,0.0
747,72.0,1.0,250.0,72.0,0.0

In [13]:
euc_dist = {}

In [ ]:
for i in range(df2.shape[1]):
    print("Kolom :",i+1)
    current = dummy.index[dummy.iloc[:,i] == 0].tolist()
    for x in current:
        jarak(dummy,i)
        Final(dummy,i,3)
dummy

Kolom : 1
[2.0, 4.0, 12.0]
min :  2.0
max :  12.0
mean :  6.0
fuzzy :  [(12.0, 0.0), (2.0, 0.0), (4.0, 0.5)]
fuzzy :  None
pembilang :  2.0
penyebut :  0.5
rata-rata tertimbang :  4.0
row, col : 1 0

[2.0, 2.0, 2.0]
median :  2
min :  2.0
max :  2.0
mean :  2.0
fuzzy :  [(2.0, 2.0), (2.0, 2.0), (2.0, 2.0)]
fuzzy :  2.0
pembilang :  12.0
penyebut :  6.0
rata-rata tertimbang :  2.0
row, col : 11 0

[2.0, 8.0, 23.0]
min :  2.0
max :  23.0
mean :  11.0
fuzzy :  [(23.0, 0.0), (2.0, 0.0), (8.0, 0.6666666666666666)]
fuzzy :  None
pembilang :  5.333333333333333
penyebut :  0.6666666666666666
rata-rata tertimbang :  8.0
row, col : 17 0

[2.0, 2.0, 4.0]
median :  2
min :  2.0
max :  4.0
mean :  2.6666666666666665
fuzzy :  [(4.0, 2.0), (2.0, 2.0), (2.0, 2.0)]
fuzzy :  2.0
pembilang :  16.0
penyebut :  6.0
rata-rata tertimbang :  2.0
row, col : 22 0

[0.0, 1.0, 2.0]
min :  0.0
max :  2.0
mean :  1.0
fuzzy :  [(1.0, 1.0), (2.0, 0.0), (0.0, 0.0)]
fuzzy :  None
pembilang :  1.0
penyebut :  1.0
rata-rata tertimbang :  1.0
row, col : 24 0

[2.0, 4.0, 14.0]
min :  2.0
max :  14.0
mean :  6.666666666666667
fuzzy :  [(2.0, 0.0), (14.0, 0.0), (4.0, 0.42857142857142855)]
fuzzy :  None
pembilang :  1.7142857142857142
penyebut :  0.42857142857142855
rata-rata tertimbang :  4.0
row, col : 31 0

[4.0, 4.0, 11.0]
median :  2
min :  4.0
max :  11.0
mean :  6.333333333333333
fuzzy :  [(4.0, 4.0), (4.0, 4.0), (11.0, 4.0)]
fuzzy :  4.0
pembilang :  76.0
penyebut :  12.0
rata-rata tertimbang :  4.0
row, col : 33 0

[4.0, 9.0, 11.0]
min :  4.0
max :  11.0
mean :  8.0
fuzzy :  [(9.0, 0.6666666666666666), (11.0, 0.0), (4.0, 0.0)]
fuzzy :  None
pembilang :  6.0
penyebut :  0.6666666666666666
rata-rata tertimbang :  9.0
row, col : 46 0

[2.0, 2.0, 4.0]
median :  2
min :  2.0
max :  4.0
mean :  2.6666666666666665
fuzzy :  [(2.0, 2.0), (2.0, 2.0), (4.0, 2.0)]
fuzzy :  2.0
pembilang :  16.0
penyebut :  6.0
rata-rata tertimbang :  2.0
row, col : 59 0

[2.0, 2.0, 2.0]
median :  2
min :  2.0
max :  2.0
mean :  2.0
fuzzy :  [(2.0, 2.0), (2.0, 2.0), (2.0, 2.0)]
fuzzy :  2.0
pembilang :  12.0
penyebut :  6.0
rata-rata tertimbang :  2.0
row, col : 67 0

[2.0, 2.0, 2.0]
median :  2
min :  2.0
max :  2.0
mean :  2.0
fuzzy :  [(2.0, 2.0), (2.0, 2.0), (2.0, 2.0)]
fuzzy :  2.0
pembilang :  12.0
penyebut :  6.0
rata-rata tertimbang :  2.0
row, col : 82 0

[2.0, 2.0, 10.0]
median :  2
min :  2.0
max :  10.0
mean :  4.666666666666667
fuzzy :  [(2.0, 2.0), (2.0, 2.0), (10.0, 2.0)]
fuzzy :  2.0
pembilang :  28.0
penyebut :  6.0
rata-rata tertimbang :  2.0
row, col : 100 0

[4.0, 9.0, 11.0]
min :  4.0
max :  11.0
mean :  8.0
fuzzy :  [(9.0, 0.6666666666666666), (11.0, 0.0), (4.0, 0.0)]
fuzzy :  None
pembilang :  6.0
penyebut :  0.6666666666666666
rata-rata tertimbang :  9.0
row, col : 102 0

[3.0, 4.0, 14.0]
min :  3.0
max :  14.0
mean :  7.0
fuzzy :  [(3.0, 0.0), (14.0, 0.0), (4.0, 0.25)]
fuzzy :  None
pembilang :  1.0
penyebut :  0.25
rata-rata tertimbang :  4.0
row, col : 104 0

[8.0, 11.0, 23.0]
min :  8.0
max :  23.0
mean :  14.0
fuzzy :  [(23.0, 0.0), (8.0, 0.0), (11.0, 0.5)]
fuzzy :  None
pembilang :  5.5
penyebut :  0.5
rata-rata tertimbang :  11.0
row, col : 106 0

[2.0, 14.0, 16.0]
min :  2.0
max :  16.0
mean :  10.666666666666666
fuzzy :  [(16.0, 0.0), (14.0, 0.37499999999999994), (2.0, 0.0)]
fuzzy :  None
pembilang :  5.249999999999999
penyebut :  0.37499999999999994
rata-rata tertimbang :  14.0
row, col : 135 0

[2.0, 2.0, 9.0]
median :  2
min :  2.0
max :  9.0
mean :  4.333333333333333
fuzzy :  [(2.0, 2.0), (2.0, 2.0), (9.0, 2.0)]
fuzzy :  2.0
pembilang :  26.0
penyebut :  6.0
rata-rata tertimbang :  2.0
row, col : 139 0

[2.0, 2.0, 5.0]
median :  2
min :  2.0
max :  5.0
mean :  3.0
fuzzy :  [(2.0, 2.0), (5.0, 2.0), (2.0, 2.0)]
fuzzy :  2.0
pembilang :  18.0
penyebut :  6.0
rata-rata tertimbang :  2.0
row, col : 152 0

[2.0, 2.0, 2.0]
median :  2
min :  2.0
max :  2.0
mean :  2.0
fuzzy :  [(2.0, 2.0), (2.0, 2.0), (2.0, 2.0)]
fuzzy :  2.0
pembilang :  12.0
penyebut :  6.0
rata-rata tertimbang :  2.0
row, col : 157 0

[0.0, 4.0, 4.0]
median :  2
min :  0.0
max :  4.0
mean :  2.6666666666666665
fuzzy :  [(0.0, 4.0), (4.0, 4.0), (4.0, 4.0)]
fuzzy :  4.0
pembilang :  32.0
penyebut :  12.0
rata-rata tertimbang :  4.0
row, col : 211 0

[4.0, 4.0, 4.0]
median :  2
min :  4.0
max :  4.0
mean :  4.0
fuzzy :  [(4.0, 4.0), (4.0, 4.0), (4.0, 4.0)]
fuzzy :  4.0
pembilang :  48.0
penyebut :  12.0
rata-rata tertimbang :  4.0
row, col : 228 0

[0.0, 4.0, 11.0]
min :  0.0
max :  11.0
mean :  5.0
fuzzy :  [(0.0, 0.0), (4.0, 0.8), (11.0, 0.0)]
fuzzy :  None
pembilang :  3.2
penyebut :  0.8
rata-rata tertimbang :  4.0
row, col : 231 0

[0.0, 21.0, 21.0]
median :  2
min :  0.0
max :  21.0
mean :  14.0
fuzzy :  [(0.0, 21.0), (21.0, 21.0), (21.0, 21.0)]
fuzzy :  21.0
pembilang :  882.0
penyebut :  63.0
rata-rata tertimbang :  21.0
row, col : 263 0

[0.0, 14.0, 23.0]
min :  0.0
max :  23.0
mean :  12.333333333333334
fuzzy :  [(0.0, 0.0), (14.0, 0.84375), (23.0, 0.0)]
fuzzy :  None
pembilang :  11.8125
penyebut :  0.84375
rata-rata tertimbang :  14.0
row, col : 267 0

[0.0, 2.0, 14.0]
min :  0.0
max :  14.0
mean :  5.333333333333333
fuzzy :  [(0.0, 0.0), (2.0, 0.375), (14.0, 0.0)]
fuzzy :  None
pembilang :  0.75
penyebut :  0.375
rata-rata tertimbang :  2.0
row, col : 299 0

[0.0, 14.0, 16.0]
min :  0.0
max :  16.0
mean :  10.0
fuzzy :  [(0.0, 0.0), (14.0, 0.3333333333333333), (16.0, 0.0)]
fuzzy :  None
pembilang :  4.666666666666666
penyebut :  0.3333333333333333
rata-rata tertimbang :  13.999999999999998
row, col : 306 0

[0.0, 2.0, 16.0]
min :  0.0
max :  16.0
mean :  6.0
fuzzy :  [(0.0, 0.0), (2.0, 0.3333333333333333), (16.0, 0.0)]
fuzzy :  None
pembilang :  0.6666666666666666
penyebut :  0.3333333333333333
rata-rata tertimbang :  2.0
row, col : 320 0

[0.0, 11.0, 21.0]
min :  0.0
max :  21.0
mean :  10.666666666666666
fuzzy :  [(0.0, 0.0), (11.0, 0.9677419354838709), (21.0, 0.0)]
fuzzy :  None
pembilang :  10.64516129032258
penyebut :  0.9677419354838709
rata-rata tertimbang :  11.0
row, col : 353 0

[0.0, 16.0, 21.0]
min :  0.0
max :  21.0
mean :  12.333333333333334
fuzzy :  [(0.0, 0.0), (16.0, 0.576923076923077), (21.0, 0.0)]
fuzzy :  None
pembilang :  9.230769230769232
penyebut :  0.576923076923077
rata-rata tertimbang :  16.0
row, col : 375 0

[0.0, 2.0, 14.0]
min :  0.0
max :  14.0
mean :  5.333333333333333
fuzzy :  [(0.0, 0.0), (2.0, 0.375), (14.0, 0.0)]
fuzzy :  None
pembilang :  0.75
penyebut :  0.375
rata-rata tertimbang :  2.0
row, col : 388 0

[0.0, 0.0, 9.0]
median :  2
min :  0.0
max :  9.0
mean :  3.0
fuzzy :  [(0.0, 0.0), (9.0, 0.0), (0.0, 0.0)]
fuzzy :  0.0
pembilang :  0.0
penyebut :  0.0
rata-rata tertimbang :  0.0
row, col : 403 0

[0.0, 4.0, 11.0]
min :  0.0
max :  11.0
mean :  5.0
fuzzy :  [(0.0, 0.0), (4.0, 0.8), (11.0, 0.0)]
fuzzy :  None
pembilang :  3.2
penyebut :  0.8
rata-rata tertimbang :  4.0
row, col : 408 0

[0.0, 2.0, 16.0]
min :  0.0
max :  16.0
mean :  6.0
fuzzy :  [(0.0, 0.0), (16.0, 0.0), (2.0, 0.3333333333333333)]
fuzzy :  None
pembilang :  0.6666666666666666
penyebut :  0.3333333333333333
rata-rata tertimbang :  2.0
row, col : 432 0

[0.0, 0.0, 0.0]
median :  2
min :  0.0
max :  0.0
mean :  0.0
fuzzy :  [(0.0, 0.0), (0.0, 0.0), (0.0, 0.0)]
fuzzy :  0.0
pembilang :  0.0
penyebut :  0.0
rata-rata tertimbang :  0.0
row, col : 454 0

[0.0, 0.0, 21.0]
median :  2
min :  0.0
max :  21.0
mean :  7.0
fuzzy :  [(0.0, 0.0), (0.0, 0.0), (21.0, 0.0)]
fuzzy :  0.0
pembilang :  0.0
penyebut :  0.0
rata-rata tertimbang :  0.0
row, col : 463 0

[0.0, 1.0, 5.0]
min :  0.0
max :  5.0
mean :  2.0
fuzzy :  [(0.0, 0.0), (1.0, 0.5), (5.0, 0.0)]
fuzzy :  None
pembilang :  0.5
penyebut :  0.5
rata-rata tertimbang :  1.0
row, col : 504 0

[0.0, 2.0, 4.0]
min :  0.0
max :  4.0
mean :  2.0
fuzzy :  [(0.0, 0.0), (4.0, 0.0), (2.0, 1.0)]
fuzzy :  None
pembilang :  2.0
penyebut :  1.0
rata-rata tertimbang :  2.0
row, col : 566 0

[0.0, 2.0, 2.0]
median :  2
min :  0.0
max :  2.0
mean :  1.3333333333333333
fuzzy :  [(0.0, 2.0), (2.0, 2.0), (2.0, 2.0)]
fuzzy :  2.0
pembilang :  8.0
penyebut :  6.0
rata-rata tertimbang :  2.0
row, col : 582 0

[0.0, 2.0, 2.0]
median :  2
min :  0.0
max :  2.0
mean :  1.3333333333333333
fuzzy :  [(0.0, 2.0), (2.0, 2.0), (2.0, 2.0)]
fuzzy :  2.0
pembilang :  8.0
penyebut :  6.0
rata-rata tertimbang :  2.0
row, col : 639 0

[0.0, 4.0, 4.0]
median :  2
min :  0.0
max :  4.0
mean :  2.6666666666666665
fuzzy :  [(0.0, 4.0), (4.0, 4.0), (4.0, 4.0)]
fuzzy :  4.0
pembilang :  32.0
penyebut :  12.0
rata-rata tertimbang :  4.0
row, col : 653 0

[0.0, 6.0, 14.0]
min :  0.0
max :  14.0
mean :  6.666666666666667
fuzzy :  [(0.0, 0.0), (6.0, 0.8999999999999999), (14.0, 0.0)]
fuzzy :  None
pembilang :  5.3999999999999995
penyebut :  0.8999999999999999
rata-rata tertimbang :  6.0
row, col : 658 0

[0.0, 11.0, 11.0]
median :  2
min :  0.0
max :  11.0
mean :  7.333333333333333
fuzzy :  [(0.0, 11.0), (11.0, 11.0), (11.0, 11.0)]
fuzzy :  11.0
pembilang :  242.0
penyebut :  33.0
rata-rata tertimbang :  11.0
row, col : 668 0

[0.0, 11.0, 23.0]
min :  0.0
max :  23.0
mean :  11.333333333333334
fuzzy :  [(0.0, 0.0), (11.0, 0.9705882352941176), (23.0, 0.0)]
fuzzy :  None
pembilang :  10.676470588235293
penyebut :  0.9705882352941176
rata-rata tertimbang :  11.0
row, col : 669 0

[0.0, 0.0, 2.0]
median :  2
min :  0.0
max :  2.0
mean :  0.6666666666666666
fuzzy :  [(0.0, 0.0), (0.0, 0.0), (2.0, 0.0)]
fuzzy :  0.0
pembilang :  0.0
penyebut :  0.0
rata-rata tertimbang :  0.0
row, col : 700 0

[0.0, 2.0, 4.0]
min :  0.0
max :  4.0
mean :  2.0
fuzzy :  [(0.0, 0.0), (2.0, 1.0), (4.0, 0.0)]
fuzzy :  None
pembilang :  2.0
penyebut :  1.0
rata-rata tertimbang :  2.0
row, col : 709 0

[0.0, 2.0, 14.0]
min :  0.0
max :  14.0
mean :  5.333333333333333
fuzzy :  [(0.0, 0.0), (2.0, 0.375), (14.0, 0.0)]
fuzzy :  None
pembilang :  0.75
penyebut :  0.375
rata-rata tertimbang :  2.0
row, col : 721 0

[0.0, 21.0, 21.0]
median :  2
min :  0.0
max :  21.0
mean :  14.0
fuzzy :  [(0.0, 21.0), (21.0, 21.0), (21.0, 21.0)]
fuzzy :  21.0
pembilang :  882.0
penyebut :  63.0
rata-rata tertimbang :  21.0
row, col : 724 0

[0.0, 0.0, 23.0]
median :  2
min :  0.0
max :  23.0
mean :  7.666666666666667
fuzzy :  [(0.0, 0.0), (0.0, 0.0), (23.0, 0.0)]
fuzzy :  0.0
pembilang :  0.0
penyebut :  0.0
rata-rata tertimbang :  0.0
row, col : 733 0

[0.0, 23.0, 23.0]
median :  2
min :  0.0
max :  23.0
mean :  15.333333333333334
fuzzy :  [(0.0, 23.0), (23.0, 23.0), (23.0, 23.0)]
fuzzy :  23.0
pembilang :  1058.0
penyebut :  69.0
rata-rata tertimbang :  23.0
row, col : 734 0

[0.0, 4.0, 11.0]
min :  0.0
max :  11.0
mean :  5.0
fuzzy :  [(0.0, 0.0), (11.0, 0.0), (4.0, 0.8)]
fuzzy :  None
pembilang :  3.2
penyebut :  0.8
rata-rata tertimbang :  4.0
row, col : 743 0

Kolom : 2
[20.0, 21.0, 21.0]
median :  2
min :  20.0
max :  21.0
mean :  20.666666666666668
fuzzy :  [(20.0, 21.0), (21.0, 21.0), (21.0, 21.0)]
fuzzy :  21.0
pembilang :  1302.0
penyebut :  63.0
rata-rata tertimbang :  21.0
row, col : 3 1

[6.0, 6.0, 6.0]
median :  2
min :  6.0
max :  6.0
mean :  6.0
fuzzy :  [(6.0, 6.0), (6.0, 6.0), (6.0, 6.0)]
fuzzy :  6.0
pembilang :  108.0
penyebut :  18.0
rata-rata tertimbang :  6.0
row, col : 23 1

[8.0, 8.0, 8.0]
median :  2
min :  8.0
max :  8.0
mean :  8.0
fuzzy :  [(8.0, 8.0), (8.0, 8.0), (8.0, 8.0)]
fuzzy :  8.0
pembilang :  192.0
penyebut :  24.0
rata-rata tertimbang :  8.0
row, col : 35 1

[6.0, 6.0, 6.0]
median :  2
min :  6.0
max :  6.0
mean :  6.0
fuzzy :  [(6.0, 6.0), (6.0, 6.0), (6.0, 6.0)]
fuzzy :  6.0
pembilang :  108.0
penyebut :  18.0
rata-rata tertimbang :  6.0
row, col : 59 1

[3.0, 3.0, 3.0]
median :  2
min :  3.0
max :  3.0
mean :  3.0
fuzzy :  [(3.0, 3.0), (3.0, 3.0), (3.0, 3.0)]
fuzzy :  3.0
pembilang :  27.0
penyebut :  9.0
rata-rata tertimbang :  3.0
row, col : 64 1

[16.0, 16.0, 16.0]
median :  2
min :  16.0
max :  16.0
mean :  16.0
fuzzy :  [(16.0, 16.0), (16.0, 16.0), (16.0, 16.0)]
fuzzy :  16.0
pembilang :  768.0
penyebut :  48.0
rata-rata tertimbang :  16.0
row, col : 65 1

[6.0, 6.0, 6.0]
median :  2
min :  6.0
max :  6.0
mean :  6.0
fuzzy :  [(6.0, 6.0), (6.0, 6.0), (6.0, 6.0)]
fuzzy :  6.0
pembilang :  108.0
penyebut :  18.0
rata-rata tertimbang :  6.0
row, col : 85 1

[5.0, 5.0, 5.0]
median :  2
min :  5.0
max :  5.0
mean :  5.0
fuzzy :  [(5.0, 5.0), (5.0, 5.0), (5.0, 5.0)]
fuzzy :  5.0
pembilang :  75.0
penyebut :  15.0
rata-rata tertimbang :  5.0
row, col : 103 1

[0.0, 11.0, 11.0]
median :  2
min :  0.0
max :  11.0
mean :  7.333333333333333
fuzzy :  [(0.0, 11.0), (11.0, 11.0), (11.0, 11.0)]
fuzzy :  11.0
pembilang :  242.0
penyebut :  33.0
rata-rata tertimbang :  11.0
row, col : 119 1

[2.0, 2.0, 2.0]
median :  2
min :  2.0
max :  2.0
mean :  2.0
fuzzy :  [(2.0, 2.0), (2.0, 2.0), (2.0, 2.0)]
fuzzy :  2.0
pembilang :  12.0
penyebut :  6.0
rata-rata tertimbang :  2.0
row, col : 149 1

In [ ]:
dummy.describe()

# Klasifikasi

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [ ]:
x = dummy.values
y = df.iloc[:, -1].values

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=72)

In [ ]:
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [ ]:
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
print(cm)
print(accuracy)