In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("audit_5%.csv")

In [3]:
df

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,3.89,4.18,0.6,2.508,2.50,0.2,0.500,6.68,5.0,0.2,...,NaN,0.0,0.2,0.0,2.4,8.574,0.4,0.5,NaN,1.0
1,NaN,0.00,NaN,0.000,4.83,0.2,0.966,4.83,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,2.554,0.4,0.5,0.5108,0.0
2,3.89,0.51,0.2,0.102,0.23,0.2,0.046,0.74,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.548,0.4,0.5,0.3096,0.0
3,3.89,0.00,0.2,NaN,10.80,0.6,6.480,NaN,6.0,0.6,...,0.4,0.0,0.2,NaN,4.4,17.530,0.4,0.5,3.5060,1.0
4,3.89,0.00,0.2,0.000,0.08,0.2,0.016,0.08,NaN,0.2,...,0.4,NaN,NaN,0.0,2.0,1.416,0.4,0.5,0.2832,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771,NaN,0.49,0.2,0.098,0.40,0.2,0.080,0.89,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.578,0.4,NaN,0.3156,0.0
772,55.57,0.47,0.2,0.094,0.37,0.2,0.074,0.84,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.568,0.4,0.5,0.3136,0.0
773,55.57,0.24,0.2,NaN,0.04,0.2,0.008,0.28,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.456,0.4,0.5,0.2912,0.0
774,55.57,0.20,0.2,0.040,0.00,0.2,0.000,0.20,NaN,0.2,...,0.4,0.0,0.2,0.0,2.0,1.440,0.4,0.5,0.2880,0.0
775,55.57,0.00,0.2,0.000,0.00,0.2,NaN,0.00,5.0,0.2,...,NaN,0.0,0.2,0.0,2.0,1.464,0.4,0.5,0.2928,0.0

In [4]:
df.dtypes

Sector_score      float64
PARA_A            float64
Score_A           float64
Risk_A            float64
PARA_B            float64
Score_B           float64
Risk_B            float64
TOTAL             float64
numbers           float64
Score_B.1         float64
Risk_C            float64
Money_Value       float64
Score_MV          float64
Risk_D            float64
District_Loss     float64
PROB              float64
RiSk_E            float64
History           float64
Prob              float64
Risk_F            float64
Score             float64
Inherent_Risk     float64
CONTROL_RISK      float64
Detection_Risk    float64
Audit_Risk        float64
Risk              float64
dtype: object

In [5]:
df.isnull().sum()

Sector_score      56
PARA_A            46
Score_A           38
Risk_A            46
PARA_B            43
Score_B           39
Risk_B            46
TOTAL             34
numbers           38
Score_B.1         26
Risk_C            41
Money_Value       43
Score_MV          35
Risk_D            35
District_Loss     24
PROB              45
RiSk_E            48
History           48
Prob              43
Risk_F            40
Score             37
Inherent_Risk     33
CONTROL_RISK      35
Detection_Risk    42
Audit_Risk        49
Risk               0
dtype: int64

In [6]:
null_counts = df.isnull().sum()
null_percentages = 100 * null_counts / len(df)
null_percentages

Sector_score      7.216495
PARA_A            5.927835
Score_A           4.896907
Risk_A            5.927835
PARA_B            5.541237
Score_B           5.025773
Risk_B            5.927835
TOTAL             4.381443
numbers           4.896907
Score_B.1         3.350515
Risk_C            5.283505
Money_Value       5.541237
Score_MV          4.510309
Risk_D            4.510309
District_Loss     3.092784
PROB              5.798969
RiSk_E            6.185567
History           6.185567
Prob              5.541237
Risk_F            5.154639
Score             4.768041
Inherent_Risk     4.252577
CONTROL_RISK      4.510309
Detection_Risk    5.412371
Audit_Risk        6.314433
Risk              0.000000
dtype: float64

In [7]:
null_counts = df.isnull().sum().sum()
total = df.size
null_percentages = 100 * null_counts / total
print("total nilai :",total)
print("nilai hilang :",null_counts)
print("persentase hilang :",null_percentages)

total nilai : 20176
nilai hilang : 1010
persentase hilang : 5.005947660586836

# Hapus Nilai Hilang

In [8]:
df2 = df.dropna()
df2

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
6,3.89,1.10,0.4,0.440,7.41,0.4,2.964,8.51,5.0,0.2,...,0.4,0.0,0.2,0.0,3.2,31.774,0.4,0.5,6.3548,1.0
9,3.89,3.98,0.6,2.388,0.99,0.2,0.198,4.97,5.0,0.2,...,0.4,0.0,0.2,0.0,2.4,4.372,0.4,0.5,0.8744,0.0
10,3.89,5.43,0.6,3.258,10.77,0.6,6.462,16.20,5.0,0.2,...,0.4,0.0,0.2,0.0,3.6,12.004,0.4,0.5,2.4008,1.0
20,3.89,6.26,0.6,3.756,14.10,0.6,8.460,20.36,5.0,0.2,...,0.4,1.0,0.4,0.4,4.2,34.560,0.8,0.5,13.8240,1.0
23,3.89,0.94,0.2,0.188,0.01,0.2,0.002,0.95,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.610,0.4,0.5,0.3220,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,55.57,0.90,0.2,0.180,1.11,0.4,0.444,2.01,5.0,0.2,...,0.4,0.0,0.2,0.0,2.6,2.024,0.4,0.5,0.4048,0.0
761,55.57,0.00,0.2,0.000,0.00,0.2,0.000,0.00,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.400,0.4,0.5,0.2800,0.0
766,55.57,0.80,0.2,0.160,0.57,0.2,0.114,1.37,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.674,0.4,0.5,0.3348,0.0
768,55.57,0.44,0.2,0.088,0.53,0.2,0.106,0.97,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.594,0.4,0.5,0.3188,0.0
769,55.57,0.51,0.2,0.102,0.50,0.2,0.100,1.01,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.620,0.4,0.5,0.3240,0.0

In [9]:
df2.describe()

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
count,190.000000,190.000000,190.000000,190.000000,190.000000,190.000000,190.000000,190.000000,190.000000,190.000000,...,190.000000,190.000000,190.000000,190.000000,190.000000,190.000000,190.000000,190.0,190.000000,190.000000
mean,22.402737,2.451579,0.354737,1.343832,15.728030,0.313684,9.306059,18.050135,5.050000,0.218947,...,0.517895,0.131579,0.222105,0.067368,2.702105,18.643932,0.585263,0.5,10.669844,0.405263
std,24.809346,4.012476,0.174130,2.457660,93.657256,0.171276,56.211636,94.351553,0.182212,0.065538,...,0.284327,0.533088,0.077908,0.303922,0.854429,64.265068,0.429339,0.0,71.561039,0.492240
min,1.850000,0.000000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.400000,0.400000,0.5,0.280000,0.000000
25%,2.370000,0.325000,0.200000,0.065000,0.000000,0.200000,0.000000,0.685000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.594500,0.400000,0.5,0.318900,0.000000
50%,3.890000,0.935000,0.200000,0.187000,0.445000,0.200000,0.089000,1.355000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.300000,2.052000,0.400000,0.5,0.453600,0.000000
75%,55.570000,2.497500,0.600000,1.498500,2.787500,0.400000,1.528500,8.062500,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,3.200000,8.429000,0.400000,0.5,3.020700,1.000000
max,59.850000,25.400000,0.600000,15.240000,1264.630000,0.600000,758.778000,1268.910000,6.500000,0.600000,...,2.400000,5.000000,0.600000,3.000000,5.200000,801.262000,3.400000,0.5,961.514400,1.000000

# Klasifikasi

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [11]:
x = df2.iloc[:, :-1].values
y = df2.iloc[:, -1].values

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=4)

In [13]:
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [14]:
classifier = GaussianNB()
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
print(cm)
print(accuracy)

[[33  1]
 [ 2 12]]
0.9375