In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("transfusion.csv")

In [5]:
df

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0
...,...,...,...,...,...
743,23,2,500,38,0
744,21,2,500,52,0
745,23,3,750,62,0
746,39,1,250,39,0
747,72,1,250,72,0

In [15]:
pct_missing = 0.0625
num_missing = int(df.iloc[:, :-1].size * pct_missing)
num_missing

187

In [16]:
df.iloc[:, :-1].size

2992

In [17]:
idx = np.random.choice(df.iloc[:, :-1].size, num_missing, replace=False)

In [18]:
dataset = df.astype(float)
dataset.iloc[:, :-1].values.flat[idx] = np.nan

In [19]:
dataset

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2.0,50.0,12500.0,98.0,1.0
1,0.0,13.0,NaN,28.0,1.0
2,1.0,NaN,4000.0,35.0,1.0
3,2.0,20.0,5000.0,45.0,1.0
4,1.0,24.0,6000.0,77.0,0.0
...,...,...,...,...,...
743,23.0,2.0,500.0,38.0,0.0
744,21.0,2.0,500.0,52.0,0.0
745,23.0,NaN,750.0,62.0,0.0
746,39.0,NaN,NaN,39.0,0.0
747,72.0,1.0,250.0,72.0,0.0

In [21]:
dataset.dtypes

Recency (months)                              float64
Frequency (times)                             float64
Monetary (c.c. blood)                         float64
Time (months)                                 float64
whether he/she donated blood in March 2007    float64
dtype: object

In [22]:
dataset.isnull().sum()

Recency (months)                              47
Frequency (times)                             48
Monetary (c.c. blood)                         45
Time (months)                                 47
whether he/she donated blood in March 2007     0
dtype: int64

In [23]:
null_counts = dataset.isnull().sum().sum()
total = df.size
null_percentages = 100 * null_counts / total
print("total nilai :",total)
print("nilai hilang :",null_counts)
print("persentase :",null_percentages)

total nilai : 3740
nilai hilang : 187
persentase : 5.0

In [26]:
null_counts = dataset.isnull().sum()
null_percentages = null_counts / len(dataset)
null_percentages

Recency (months)                              0.062834
Frequency (times)                             0.064171
Monetary (c.c. blood)                         0.060160
Time (months)                                 0.062834
whether he/she donated blood in March 2007    0.000000
dtype: float64

In [25]:
dataset.to_csv('transfusion_5%.csv', index=False)