In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("audit_10%.csv")

In [3]:
df

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,3.89,4.18,0.6,2.508,2.50,NaN,0.500,6.68,NaN,0.2,...,0.4,NaN,0.2,0.0,2.4,8.574,0.4,0.5,1.7148,1
1,3.89,0.00,NaN,0.000,4.83,NaN,0.966,4.83,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,2.554,0.4,0.5,0.5108,0
2,3.89,0.51,0.2,0.102,0.23,0.2,0.046,0.74,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.548,0.4,0.5,0.3096,0
3,3.89,0.00,0.2,0.000,10.80,0.6,6.480,10.80,6.0,0.6,...,0.4,0.0,0.2,0.0,4.4,17.530,0.4,0.5,3.5060,1
4,3.89,0.00,0.2,0.000,0.08,0.2,0.016,0.08,5.0,0.2,...,0.4,0.0,NaN,0.0,NaN,1.416,NaN,NaN,0.2832,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,NaN,0.32,0.2,0.064,0.00,0.2,0.000,0.32,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.464,0.4,0.5,0.2928,0
521,21.61,0.56,0.2,0.112,0.63,0.2,0.126,NaN,NaN,0.2,...,0.4,0.0,0.2,0.0,NaN,1.656,0.4,0.5,0.3312,0
522,21.61,0.54,0.2,0.108,0.56,0.2,NaN,1.10,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.780,0.4,0.5,0.3560,0
523,21.61,0.63,0.2,0.126,0.69,0.2,0.138,1.32,5.0,0.2,...,0.4,0.0,0.2,NaN,2.0,1.728,0.4,0.5,NaN,0
524,21.61,0.37,0.2,0.074,0.46,0.2,NaN,0.83,5.0,0.2,...,NaN,0.0,0.2,0.0,2.0,1.566,0.4,0.5,0.3132,0

In [4]:
df.dtypes

Sector_score      float64
PARA_A            float64
Score_A           float64
Risk_A            float64
PARA_B            float64
Score_B           float64
Risk_B            float64
TOTAL             float64
numbers           float64
Score_B.1         float64
Risk_C            float64
Money_Value       float64
Score_MV          float64
Risk_D            float64
District_Loss     float64
PROB              float64
RiSk_E            float64
History           float64
Prob              float64
Risk_F            float64
Score             float64
Inherent_Risk     float64
CONTROL_RISK      float64
Detection_Risk    float64
Audit_Risk        float64
Risk                int64
dtype: object

In [5]:
df.isnull().sum()

Sector_score      58
PARA_A            42
Score_A           50
Risk_A            56
PARA_B            51
Score_B           56
Risk_B            61
TOTAL             72
numbers           59
Score_B.1         70
Risk_C            57
Money_Value       45
Score_MV          52
Risk_D            53
District_Loss     56
PROB              44
RiSk_E            65
History           50
Prob              64
Risk_F            54
Score             57
Inherent_Risk     50
CONTROL_RISK      64
Detection_Risk    54
Audit_Risk        47
Risk               0
dtype: int64

In [6]:
null_counts = df.isnull().sum()
null_percentages = 100 * null_counts / len(df)
null_percentages

Sector_score      11.047619
PARA_A             8.000000
Score_A            9.523810
Risk_A            10.666667
PARA_B             9.714286
Score_B           10.666667
Risk_B            11.619048
TOTAL             13.714286
numbers           11.238095
Score_B.1         13.333333
Risk_C            10.857143
Money_Value        8.571429
Score_MV           9.904762
Risk_D            10.095238
District_Loss     10.666667
PROB               8.380952
RiSk_E            12.380952
History            9.523810
Prob              12.190476
Risk_F            10.285714
Score             10.857143
Inherent_Risk      9.523810
CONTROL_RISK      12.190476
Detection_Risk    10.285714
Audit_Risk         8.952381
Risk               0.000000
dtype: float64

In [7]:
null_counts = df.isnull().sum().sum()
total = df.size
null_percentages = 100 * null_counts / total
print("total nilai :",total)
print("nilai hilang :",null_counts)
print("persentase hilang :",null_percentages)

total nilai : 13650
nilai hilang : 1387
persentase hilang : 10.16117216117216

# Imputasi Mean

In [8]:
df2 = df.fillna(df.mean())

In [9]:
df2

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,3.890000,4.18,0.600000,2.508,2.50,0.340299,0.5000,6.680000,5.094421,0.2,...,0.400000,0.151579,0.200000,0.000000,2.400000,8.574,0.400000,0.5,1.714800,1
1,3.890000,0.00,0.402947,0.000,4.83,0.340299,0.9660,4.830000,5.000000,0.2,...,0.400000,0.000000,0.200000,0.000000,2.000000,2.554,0.400000,0.5,0.510800,0
2,3.890000,0.51,0.200000,0.102,0.23,0.200000,0.0460,0.740000,5.000000,0.2,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.548,0.400000,0.5,0.309600,0
3,3.890000,0.00,0.200000,0.000,10.80,0.600000,6.4800,10.800000,6.000000,0.6,...,0.400000,0.000000,0.200000,0.000000,4.400000,17.530,0.400000,0.5,3.506000,1
4,3.890000,0.00,0.200000,0.000,0.08,0.200000,0.0160,0.080000,5.000000,0.2,...,0.400000,0.000000,0.223861,0.000000,2.929487,1.416,0.612581,0.5,0.283200,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,3.806445,0.32,0.200000,0.064,0.00,0.200000,0.0000,0.320000,5.000000,0.2,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.464,0.400000,0.5,0.292800,0
521,21.610000,0.56,0.200000,0.112,0.63,0.200000,0.1260,18.724011,5.094421,0.2,...,0.400000,0.000000,0.200000,0.000000,2.929487,1.656,0.400000,0.5,0.331200,0
522,21.610000,0.54,0.200000,0.108,0.56,0.200000,9.5563,1.100000,5.000000,0.2,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.780,0.400000,0.5,0.356000,0
523,21.610000,0.63,0.200000,0.126,0.69,0.200000,0.1380,1.320000,5.000000,0.2,...,0.400000,0.000000,0.200000,0.073036,2.000000,1.728,0.400000,0.5,9.365119,0
524,21.610000,0.37,0.200000,0.074,0.46,0.200000,9.5563,0.830000,5.000000,0.2,...,0.544348,0.000000,0.200000,0.000000,2.000000,1.566,0.400000,0.5,0.313200,0

In [10]:
df2.describe()

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
count,525.000000,525.000000,525.000000,525.000000,525.000000,525.000000,525.000000,525.000000,525.000000,525.000000,...,525.000000,525.000000,525.000000,525.000000,525.000000,525.000000,525.000000,525.0,525.000000,525.000000
mean,3.806445,3.382878,0.402947,1.986657,13.259698,0.340299,9.556300,18.724011,5.094421,0.233846,...,0.544348,0.151579,0.223861,0.073036,2.929487,21.087710,0.612581,0.5,9.365119,0.525714
std,3.978340,6.619402,0.170517,4.017743,24.682743,0.170363,35.933212,60.513771,0.297398,0.089940,...,0.300684,0.622551,0.074361,0.345659,0.863723,43.839777,0.474637,0.0,44.679255,0.499815
min,1.850000,0.000000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.400000,0.400000,0.5,0.280000,0.000000
25%,1.990000,0.560000,0.200000,0.118000,0.050000,0.200000,0.010000,1.100000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.200000,1.966000,0.400000,0.5,0.397600,0.000000
50%,2.720000,1.640000,0.400000,0.700000,1.030000,0.200000,0.352000,4.340000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.800000,5.564000,0.400000,0.5,1.537600,1.000000
75%,3.890000,3.620000,0.600000,2.172000,13.259698,0.600000,9.556300,18.724011,5.000000,0.200000,...,0.544348,0.000000,0.200000,0.000000,3.600000,21.087710,0.612581,0.5,9.365119,1.000000
max,21.610000,85.000000,0.600000,51.000000,144.390000,0.600000,758.778000,1268.910000,9.000000,0.600000,...,2.400000,9.000000,0.600000,5.400000,5.200000,583.688000,5.800000,0.5,961.514400,1.000000

# Klasifikasi

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [12]:
x = df2.iloc[:, :-1].values
y = df2.iloc[:, -1].values

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=15)

In [14]:
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [15]:
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
print(cm)
print(accuracy)

[[58  2]
 [ 5 67]]
0.946969696969697