In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("audit_5%.csv")

In [3]:
df

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,3.89,4.18,0.6,2.508,2.5000,0.2,0.5000,6.6800,5.0,0.2,...,NaN,0.0,0.2,0.0,2.4,8.5740,0.4,0.5,NaN,1
1,NaN,0.00,NaN,0.000,4.8300,0.2,0.9660,4.8300,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,2.5540,0.4,0.5,0.51080,0
2,3.89,0.51,0.2,0.102,0.2300,0.2,0.0460,0.7400,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.5480,0.4,0.5,0.30960,0
3,3.89,0.00,0.2,NaN,10.8000,0.6,6.4800,NaN,6.0,0.6,...,0.4,0.0,0.2,NaN,4.4,17.5300,0.4,0.5,3.50600,1
4,3.89,0.00,0.2,0.000,0.0800,0.2,0.0160,0.0800,NaN,0.2,...,0.4,NaN,NaN,0.0,2.0,1.4160,0.4,0.5,0.28320,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,55.57,0.31,0.2,0.062,0.0015,0.2,0.0003,0.3115,5.0,0.2,...,NaN,0.0,0.2,0.0,2.0,1.4623,0.4,0.5,0.29246,0
737,55.57,NaN,0.2,0.000,0.0000,0.2,NaN,0.0000,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.4000,0.4,0.5,0.28000,0
738,55.57,0.84,NaN,0.168,0.0000,0.2,0.0000,0.8400,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.5680,0.4,0.5,0.31360,0
739,55.57,NaN,0.4,NaN,0.0000,0.2,0.0000,1.0900,5.0,0.2,...,0.4,0.0,0.2,0.0,2.2,1.8360,0.4,0.5,0.36720,0
740,55.57,1.29,0.4,0.516,0.0000,0.2,0.0000,NaN,5.0,0.2,...,NaN,0.0,0.2,0.0,2.2,1.9160,0.4,0.5,0.38320,0

In [4]:
df.dtypes

Sector_score      float64
PARA_A            float64
Score_A           float64
Risk_A            float64
PARA_B            float64
Score_B           float64
Risk_B            float64
TOTAL             float64
numbers           float64
Score_B.1         float64
Risk_C            float64
Money_Value       float64
Score_MV          float64
Risk_D            float64
District_Loss     float64
PROB              float64
RiSk_E            float64
History           float64
Prob              float64
Risk_F            float64
Score             float64
Inherent_Risk     float64
CONTROL_RISK      float64
Detection_Risk    float64
Audit_Risk        float64
Risk                int64
dtype: object

In [5]:
df.isnull().sum()

Sector_score      52
PARA_A            44
Score_A           36
Risk_A            44
PARA_B            42
Score_B           38
Risk_B            42
TOTAL             32
numbers           36
Score_B.1         24
Risk_C            37
Money_Value       42
Score_MV          33
Risk_D            34
District_Loss     24
PROB              43
RiSk_E            46
History           46
Prob              41
Risk_F            39
Score             34
Inherent_Risk     33
CONTROL_RISK      35
Detection_Risk    40
Audit_Risk        47
Risk               0
dtype: int64

In [6]:
null_counts = df.isnull().sum()
null_percentages = 100 * null_counts / len(df)
null_percentages

Sector_score      7.017544
PARA_A            5.937922
Score_A           4.858300
Risk_A            5.937922
PARA_B            5.668016
Score_B           5.128205
Risk_B            5.668016
TOTAL             4.318489
numbers           4.858300
Score_B.1         3.238866
Risk_C            4.993252
Money_Value       5.668016
Score_MV          4.453441
Risk_D            4.588394
District_Loss     3.238866
PROB              5.802969
RiSk_E            6.207827
History           6.207827
Prob              5.533063
Risk_F            5.263158
Score             4.588394
Inherent_Risk     4.453441
CONTROL_RISK      4.723347
Detection_Risk    5.398111
Audit_Risk        6.342780
Risk              0.000000
dtype: float64

In [7]:
null_counts = df.isnull().sum().sum()
total = df.size
null_percentages = 100 * null_counts / total
print("total nilai :",total)
print("nilai hilang :",null_counts)
print("persentase hilang :",null_percentages)

total nilai : 19266
nilai hilang : 964
persentase hilang : 5.0036333437143155

# Hapus Nilai Hilang

In [8]:
df2 = df.dropna()
df2

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
6,3.89,1.10,0.4,0.440,7.4100,0.4,2.9640,8.5100,5.0,0.2,...,0.4,0.0,0.2,0.0,3.2,31.7740,0.4,0.5,6.3548,1
9,3.89,3.98,0.6,2.388,0.9900,0.2,0.1980,4.9700,5.0,0.2,...,0.4,0.0,0.2,0.0,2.4,4.3720,0.4,0.5,0.8744,0
10,3.89,5.43,0.6,3.258,10.7700,0.6,6.4620,16.2000,5.0,0.2,...,0.4,0.0,0.2,0.0,3.6,12.0040,0.4,0.5,2.4008,1
20,3.89,6.26,0.6,3.756,14.1000,0.6,8.4600,20.3600,5.0,0.2,...,0.4,1.0,0.4,0.4,4.2,34.5600,0.8,0.5,13.8240,1
23,3.89,0.94,0.2,0.188,0.0100,0.2,0.0020,0.9500,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.6100,0.4,0.5,0.3220,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,55.57,1.40,0.4,0.560,0.0600,0.2,0.0120,1.4600,5.0,0.2,...,0.4,0.0,0.2,0.0,2.2,1.9720,0.4,0.5,0.3944,0
725,55.57,0.40,0.2,0.080,0.0025,0.2,0.0005,0.4025,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.4805,0.4,0.5,0.2961,0
727,55.57,0.00,0.2,0.000,0.8800,0.2,0.1760,0.8800,5.0,0.2,...,0.4,0.0,0.2,0.0,2.0,1.5900,0.4,0.5,0.3180,0
730,55.57,1.28,0.4,0.512,0.0000,0.2,0.0000,1.2800,5.0,0.2,...,0.4,0.0,0.2,0.0,2.2,1.9120,0.4,0.5,0.3824,0
732,55.57,0.00,0.2,0.000,1.1600,0.4,0.4640,1.1600,5.0,0.2,...,0.4,0.0,0.2,0.0,2.6,1.8640,0.4,0.5,0.3728,0

In [9]:
df2.describe()

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,...,183.000000,183.000000,183.000000,183.000000,183.000000,183.00000,183.000000,183.0,183.000000,183.000000
mean,21.319617,2.527923,0.360656,1.391749,16.311780,0.316940,9.657241,18.705277,5.051913,0.219672,...,0.522404,0.136612,0.222951,0.069945,2.725683,19.29429,0.592350,0.5,11.065421,0.420765
std,24.530142,4.068912,0.174732,2.491902,95.392605,0.173165,57.253036,96.087862,0.185414,0.066679,...,0.288784,0.542606,0.079269,0.309419,0.860964,65.40107,0.435948,0.0,72.894941,0.495036
min,1.850000,0.000000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.40000,0.400000,0.5,0.280000,0.000000
25%,2.370000,0.330000,0.200000,0.066000,0.000000,0.200000,0.000000,0.690000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.60200,0.400000,0.5,0.320400,0.000000
50%,3.890000,1.000000,0.400000,0.400000,0.420000,0.200000,0.084000,1.420000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.400000,2.20000,0.400000,0.5,0.632800,0.000000
75%,55.570000,2.665000,0.600000,1.599000,3.765000,0.500000,1.740000,8.500000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,3.300000,9.03300,0.600000,0.5,3.140200,1.000000
max,59.850000,25.400000,0.600000,15.240000,1264.630000,0.600000,758.778000,1268.910000,6.500000,0.600000,...,2.400000,5.000000,0.600000,3.000000,5.200000,801.26200,3.400000,0.5,961.514400,1.000000

# Klasifikasi

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [11]:
x = df2.iloc[:, :-1].values
y = df2.iloc[:, -1].values

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=32)

In [16]:
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [17]:
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
print(cm)
print(accuracy)

[[24  2]
 [ 0 20]]
0.9565217391304348